## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [2]:
len(mouse_metadata)

249

In [3]:
study_results = pd.read_csv(study_results_path)
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
len(study_results)

1893

In [36]:
# Combine the data into a single dataset
frames = [mouse_metadata, study_results]
merged_df = pd.concat(frames)
# Display the data table for preview
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21.0,16.0,NaN,NaN,NaN
1,s185,Capomulin,Female,3.0,17.0,NaN,NaN,NaN
2,x401,Capomulin,Female,16.0,15.0,NaN,NaN,NaN
3,m601,Capomulin,Male,22.0,17.0,NaN,NaN,NaN
4,g791,Ramicane,Male,11.0,16.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1888,r944,NaN,NaN,NaN,NaN,45.0,41.581521,2.0
1889,u364,NaN,NaN,NaN,NaN,45.0,31.023923,3.0
1890,p438,NaN,NaN,NaN,NaN,45.0,61.433892,1.0
1891,x773,NaN,NaN,NaN,NaN,45.0,58.634971,4.0
1892,b879,NaN,NaN,NaN,NaN,45.0,72.555239,2.0

In [37]:
print(merged_df.dtypes)

Mouse ID               object
Drug Regimen           object
Sex                    object
Age_months            float64
Weight (g)            float64
Timepoint             float64
Tumor Volume (mm3)    float64
Metastatic Sites      float64
dtype: object

In [38]:
# merged_df = merged_df.fillna({"Drug Regimen": ""})
# merged_df = merged_df.fillna({"Sex": ""})
# merged_df = merged_df.fillna({"Age_months": ""})
# change dtype to int
# merged_df[["Age_months"]] = df[["Age_months"]].apply(pd.to_numeric)
# merged_df = merged_df.fillna({"Weight (g)": ""})
# change dtype to int
# merged_df = merged_df.fillna({"Timepoint": ""})
# change dtype to int
# merged_df = merged_df.fillna({"Tumor Volume (mm3)": ""})
# change dtype to float
# merged_df = merged_df.fillna({"Metastatic Sites": ""})
# change dtype to int

# merged_df

In [39]:
print(merged_df.dtypes)

Mouse ID               object
Drug Regimen           object
Sex                    object
Age_months            float64
Weight (g)            float64
Timepoint             float64
Tumor Volume (mm3)    float64
Metastatic Sites      float64
dtype: object

In [40]:
# Checking the number of mice in the studies:
miceCount = merged_df.groupby(["Mouse ID"]).count()["Age_months"]
miceCount

Mouse ID
a203    1
a251    1
a262    1
a275    1
a366    1
       ..
z435    1
z578    1
z581    1
z795    1
z969    1
Name: Age_months, Length: 249, dtype: int64

In [41]:
n = len(miceCount)
n

249

In [42]:
# Checking what drug regimens were studied
regimens = merged_df.groupby("Drug Regimen").count()
regimens

,Mouse ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,,,
Capomulin,25,25,25,25,0,0,0
Ceftamin,25,25,25,25,0,0,0
Infubinol,25,25,25,25,0,0,0
Ketapril,25,25,25,25,0,0,0
Naftisol,25,25,25,25,0,0,0
Placebo,25,25,25,25,0,0,0
Propriva,25,25,25,25,0,0,0
Ramicane,25,25,25,25,0,0,0
Stelasyn,24,24,24,24,0,0,0
Zoniferol,25,25,25,25,0,0,0

In [43]:
# How many regimens were there?
regimentCount = len(regimens)
regimentCount

10

In [44]:
# Getting the duplicate mice by ID number
# that shows up for Mouse ID and Timepoint. 

# I don't understand--I don't see Mouse ID in Timepoint.

In [45]:
# Optional: Get all the data for the duplicate mouse ID.

In [46]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [47]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [48]:
# Generate a summary statistics table of mean, median, variance,
# standard deviation, and SEM of the tumor volume for each regimen
# miceCount.describe()

In [49]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [51]:
merged_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21.0,16.0,NaN,NaN,NaN
1,s185,Capomulin,Female,3.0,17.0,NaN,NaN,NaN
2,x401,Capomulin,Female,16.0,15.0,NaN,NaN,NaN
3,m601,Capomulin,Male,22.0,17.0,NaN,NaN,NaN
4,g791,Ramicane,Male,11.0,16.0,NaN,NaN,NaN

In [52]:
tumorVolMean = merged_df.groupby(["Drug Regimen"]).mean()["Tumor Volume (mm3)"]
# tumorVolMed = merged_df.groupby(["Drug Regimen"]).median()["Tumor Volume (mm3)"]
# tumorVolVar = merged_df.groupby(["Drug Regimen"]).var()["Tumor Volume (mm3)"]
# tumorVolStdDev = merged_df.groupby(["Drug Regimen"]).std()["Tumor Volume (mm3)"]
# tumorVolSEM = merged_df.groupby(["Drug Regimen"]).sem()["Tumor Volume (mm3)"]

summary_df = pd.DataFrame({
    "Drug Regimen" : regimens,
    "Mean" : tumorVolMean,
#     "Median" : tumorVolMed,
#     "Variance" : tumorVolVar,
#     "Std Deviation" : tumorVolStdDev,
#     "Std Error of the Mean" : tumorVolSEM    
    })

ValueError: Shape of passed values is (7, 2), indices imply (10, 2)

#### Tumor Volume (mm3) by regimen

In [ ]:
summary_df

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen