## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [5]:
len(mouse_metadata)

249

In [2]:
study_results = pd.read_csv(study_results_path)
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [6]:
len(study_results)

1893

In [9]:
# Combine the data into a single dataset
frames = [mouse_metadata, study_results]
merged_df = pd.concat(frames)

# Display the data table for preview
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21.0,16.0,NaN,NaN,NaN
1,s185,Capomulin,Female,3.0,17.0,NaN,NaN,NaN
2,x401,Capomulin,Female,16.0,15.0,NaN,NaN,NaN
3,m601,Capomulin,Male,22.0,17.0,NaN,NaN,NaN
4,g791,Ramicane,Male,11.0,16.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1888,r944,NaN,NaN,NaN,NaN,45.0,41.581521,2.0
1889,u364,NaN,NaN,NaN,NaN,45.0,31.023923,3.0
1890,p438,NaN,NaN,NaN,NaN,45.0,61.433892,1.0
1891,x773,NaN,NaN,NaN,NaN,45.0,58.634971,4.0
1892,b879,NaN,NaN,NaN,NaN,45.0,72.555239,2.0

In [22]:
# Checking the number of mice.
miceCount = merged_df.groupby(["Mouse ID"])
miceCount.count()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
a203,1,1,1,1,10,10,10
a251,1,1,1,1,10,10,10
a262,1,1,1,1,10,10,10
a275,1,1,1,1,10,10,10
a366,1,1,1,1,7,7,7
...,...,...,...,...,...,...,...
z435,1,1,1,1,3,3,3
z578,1,1,1,1,10,10,10
z581,1,1,1,1,10,10,10
z795,1,1,1,1,10,10,10
z969,1,1,1,1,10,10,10

In [31]:
# Checking what drug regimens were studied
regimens = merged_df.groupby("Drug Regimen").count()
regimens = regimens.index
regimens

Index(['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo',
       'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol'],
      dtype='object', name='Drug Regimen')

In [28]:
# How many regimens were there?
regimentCount = len(regimens)

10

In [19]:
n = len(miceCount)
n

249

In [20]:
# Getting the duplicate mice by ID number
# that shows up for Mouse ID and Timepoint. 

# I don't understand--I don't see Mouse ID in Timepoint.

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [44]:
# Generate a summary statistics table of mean, median, variance,
# standard deviation, and SEM of the tumor volume for each regimen
# miceCount.describe()

In [ ]:
# tumorVolMean = merged_df.groupby("Drug Regimen").mean("Tumor Volume (mm3)")
# tumorVolMed = merged_df.groupby("Tumor Volume (mm3)").median()
# tumorVolVar = merged_df.groupby("Tumor Volume (mm3)").var()
# tumorVolStdDev = merged_df.groupby("Tumor Volume (mm3)").std()
# tumorVolSEM = merged_df.groupby("Tumor Volume (mm3)").sem()

summary_df = pd.DataFrame({
    "Drug Regimen" : regimens,
    "Mean" : 1,
    "Median" : 1,
    "Variance" : 1,
    "Std Deviation" : 1,
    "Std Error of the Mean" : 1    
    })

In [48]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

#### Tumor Volume (mm3) by regimen

In [59]:
summary_df

  Drug Regimen  Mean  Median  Variance  Std Deviation  Std Error of the Mean
0    Capomulin     1       1         1              1                      1
1     Ceftamin     1       1         1              1                      1
2    Infubinol     1       1         1              1                      1
3     Ketapril     1       1         1              1                      1
4     Naftisol     1       1         1              1                      1
5      Placebo     1       1         1              1                      1
6     Propriva     1       1         1              1                      1
7     Ramicane     1       1         1              1                      1
8     Stelasyn     1       1         1              1                      1
9    Zoniferol     1       1         1              1                      1

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen